@model IEnumerable<TarefaMVC.Models.Tarefa>

@{
    ViewData["Title"] = "Tarefas";
}

<h2>Tarefas</h2>
<p>
    <a asp-action="Criar">Nova Tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color: black; color: white; border-right: 1px solid; border-color: white; text-align: center">COD</th>
            <th style="background-color: black; color: white; border-right: 1px solid; border-color: white; text-align: center">TITULO</th>
            <th style="background-color: black; color: white; border-right: 1px solid; border-color: white; text-align: center">DESCRIÇÃO</th>
            <th style="background-color: black; color: white; border-right: 1px solid; border-color: white; text-align: center">DATA</th>
            <th style="background-color: black; color: white; border-right: 1px solid; border-color: white; text-align: center">STATUS</th>
            <th style="background-color: black; color: white; text-align: center;">AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 1px solid; text-align: center">
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td style="border: 1px solid">
                    @Html.DisplayFor(model => item.Titulo)
                </td>
                <td style="border: 1px solid">
                    @Html.DisplayFor(model => item.Descricao)
                </td>
                <td style="border: 1px solid">
                    @Html.DisplayFor(model => item.Data)
                </td>
                <td style="border: 1px solid">
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td style="border: 1px solid; text-align: center">
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary btn-sm" style="width: 80px;">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="width: 80px;">Detalhes</a>
                    <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="width: 80px;">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>